<!doctype html>

<html lang="en" ng-app="terrible" ng-controller="LeaderboardCtrl as lbCt">
<head>
  <meta charset="utf-8">

  <title>Terrible</title>

  <link rel="stylesheet" href="stylesheets/style.css">

  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>

</head>

<body>

  

  <div class="container">

    <h1 class = "centered-text">Boring Leaderboard</h1>
    <div >
    <div class = "row">
    	<div class="col col-md-4 " ng-repeat="leader in leaders">
    	<div class = "center-block">
			<h2 class = "centered-text">{{$index+1}}</h2>
			<h2 class = "centered-text">{{leader.name}}</h2>
			<img ng-src="http://127.0.0.1:3000/{{leader.url}}"/>
			<p class = "centered-text">{{leader.value}}</p>
		</div>
    	</div>
    </div>
    <div class = "row">
    	<div class="col col-md-2 center-block" ng-repeat="loser in losers">
			<h4 class = "centered-text">{{$index + 4}}</h4>
			<h4 class = "centered-text">{{loser.name}}</h4>
			<img ng-src="http://127.0.0.1:3000/{{loser.url}}"/>
			<p class = "centered-text">{{loser.value}}</p>
    	</div>
    </div>
    <button ng-click="showMore()">Show More</button>
    </div>
    </div>
 

<div class = "container">
    <div >
    <div class = "row centered-text">

    <div class="form-group">
  <label>Name:</label>
  <input type="text" class="form-control" ng-model="user.name">
</div>

    </div>

    <video class ="col col-md-6" autoplay></video>
	    
	    
	    <canvas class ="col col-md-6"></canvas>
	     <p id="result">Boring Index: {{boredScore}}</p>
	    <button ng-click="snapshot()">Take snapshot</button>
    </div>
</div>



   

  </div>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="bower_components/angular-socket-io/socket.min.js"</script>
  <script src="js/adapter.js"></script>
  <script src="js/common.js"></script>
<!--   <script src="js/main.js"></script> -->
  <script src="js/ga.js"></script>
<script src="js/controller.js"></script>
</body>
</html>